@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717e6;
    --foreground: #ededede6;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1024px) {
  .box-container {
    width: 95% !important;
    max-height: 95% !important;
  }
}  

@media screen and (min-width: 1024px) {
  .box-container {
    max-height: 95% !important;
  }
}
